[Desktop Entry]
Comment[it]=
Comment=
Exec=zdl --web-ui "$HOME"
GenericName[it]=ZigzagDownLoader --web-ui
GenericName=ZigzagDownLoader --web-ui
Icon=/usr/local/share/zdl/webui/zdl.png
MimeType=
Name[it]=ZDL
Name=ZDL
NoDisplay=false
StartupNotify=true
Terminal=true
Categories=Network;WebBrowser;
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
