body, html {
    background: #343434;
    color: #959595;
    margin: 0em;
    font: 13px "Verdana", sans-serif;
    text-align: left;
    padding: 0px;
    margin-left: 2em;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


ul {
    margin-left: 0em;
    list-style-type: square;
}

ol {
    margin-left: 0em;
}

li {
    margin-bottom: 0em;
}

